.about-me__wrap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.about-me__description {
    max-width: 500px;
    width: 100%;
    min-height: 130px;
}

.about-me__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    text-indent: 2em;
    text-align: justify;
}

.about-me__steak-text {
    margin: 0 0 15px 0;
    font-size: 18px;
    font-weight: 500;
}

.about-me__steak-list {
    display: flex;
    align-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.about-me__steak-item {
    display: flex;
    align-content: center;
    gap: 5px;
    padding: 5px 10px;
    background-color: var(--green);
    border: 1px solid var(--green-dark);
    border-radius: 5px;
}

.about-me__steak-item--git svg path {
    stroke: var(--green-dark);
}

.about-me__foto {
    max-width: 500px;
    width: 100%;
    min-height: 350px;
    background-color: white;
    background-image: url(../img/foto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}

@media (max-width: 840px) {

    .about-me__wrap {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-me__description {
        max-width: 700px;
    }
}