/* footer */
.footer {
    display: flex;
    justify-content: center;
    background-color: var(--green);
}

.footer__container {
    display: flex;
    align-items: center;
    max-width: 800px;
    gap: 20px;
    background-color: transparent;
}

.social-link svg path,
.social-link svg {
    stroke: var(--green-dark);
    transition: stroke .3s ease-in-out;
}

.social-link-VK svg {
    fill: var(--green-dark);
    transition: fill .3s ease-in-out;
}

.social-link:focus-visible {
    outline: 2px dashed var(--green-dark);
}

.social-link:hover svg path,
.social-link:hover svg {
    stroke: var(--green-light);
}

.social-link-VK:hover svg {
    fill: var(--green-light);
}

.social-link:active svg path,
.social-link:active svg {
    stroke: var(--purpure);
}

.social-link-VK:active svg {
    fill: var(--purpure);
}

@media (max-width: 640px) {

    .social-link {
        width: 30px;
        height: 30px;
    }
}