.gallery {
    max-width: 100%;
    min-height: 250px;
    position: relative;
}

.gallery-swiper {
    padding: 0 23px;
}

.gallery__btn-prev {
    left: -5px;
}

.gallery__btn-next {
    right: -5px;
}

.gallery__link {
    display: block;
    border-radius: 7px;
    height: 300px;
    overflow: hidden;
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__btn {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    z-index: 5;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.gallery__btn svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    fill: var(--green-dark);
    transition: fill .3s ease-in-out;
}

.gallery__btn:focus-visible {
    outline: 2px dashed var(--green);
}

.gallery__btn:hover svg {
    fill: var(--green);
}

.gallery__btn:active svg {
    fill: var(--purpure-light);
}

.swiper-button-disabled {
    opacity: .4;
    cursor: default;
}