.header__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__title {
    display: none;
    margin: 0;
    text-align: center;
    color: var(--green-dark);
    font-size: 22px;
}

.header__logo-link {
    margin-right: auto;
}

.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 100;
    transform: translateY(-5px);
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--green-dark);
    left: 5px;
    transition: transform .5s ease-in-out,
        opacity .5s ease-in-out,
        background-color .5s ease-in-out;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.header__nav {
    margin-right: auto;
    max-width: 700px;
    width: 100%;
}

@media (max-width: 640px) {

    .header__title {
        display: block;
    }

    .header__burger-btn {
        display: block;
        cursor: pointer;
    }

    .header__nav {
        position: absolute;
        left: -250px;
        top: 0;
        width: 250px;
        border-radius: 0 10px 10px 0;
        background-color: var(--green);
        padding: 75px 20px 20px 20px;
        transition: transform .5s;
        z-index: 10;
    }

    .header.open .header__nav {
        transform: translateX(100%);
    }
}