html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

:root {
  --green-dark: #045404;
  --gap: 15px;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url('../fonts/MullerRegular.woff2') format("woff2"),
    url('../fonts/MullerRegular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: "Muller", sans-serif;
  font-weight: 400;
  background-color: #F1F1F1;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section-offset {
  padding-top: 25px;
  padding-bottom: 25px;
}

.section-title {
  margin: 0;
  font-weight: 700;
  color: var(--green-dark);
  margin-bottom: 15px;
  padding-left: 45px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* header */
.header {
  padding-top: 30px;
  padding-bottom: 35px;
}

.header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70px;
  border-radius: 15px;
  background-color: #fff;
  padding: 14px 45px;
  gap: 15px;
}

.header__nav {
  margin-right: auto;
}

.nav__list {
  display: flex;
  gap: var(--gap);
}

.nav__link {
  color: var(--green-dark);
}

/* about-me */
.about-me__container {
  display: flex;
  padding: 45px;
  gap: 15px;
  background-color: #fff;
  border-radius: 15px;
  justify-content: space-between;
}

.about-me__description {
  max-width: 500px;
  width: 100%;
  min-height: 300px;
}

.about-me__text {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

.about-me__foto {
  max-width: 500px;
  width: 100%;
  min-height: 350px;
  background-color: white;
  background-image: url(../img/foto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.works {
  display: flex;
  flex-wrap: wrap;
  --offsets: 2;
  gap: var(--gap);
}

.works__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  margin-bottom: 24px;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
}







/* Кнопки */
/* .btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  font-weight: 400;
  font-size: 16px;
  color: var(--green-dark);
  border: 1px solid var(--green-dark);
  position: relative;
  outline: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
} */