html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

// Переменные
  $green: #4FAD33;
  $purpure: #c25991;

body {
  min-width: 320px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: 0.06em;
  background-color: lighten($green, 10%);
  background-image: url(../img/body-background.png);
  background-size: cover;
  background-attachment: fixed;
}

.main {
  margin-top: 75px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  padding: 30px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

.global-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 0;
}

.global-section-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: darken($green, 90%);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

.btn__up {
  background-color: transparent;
  border: none;
  outline: none;
  position: fixed;
  width: 10vh;
}

.btn__up svg circle,
.btn__up svg path {
  stroke: darken($green, 10%);
}


@media (max-width: 800px) {

  .container {
    padding: 20px;
    justify-content: center;
  }

  .global-section-title {
    margin-bottom: 10px;
    font-size: 24px;
  }
}

