.footer {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    // background: linear-gradient(0deg, $green 20%, darken($green, 10%) 100%);
}

.footer__container {
    display: flex;
    align-items: center;
    max-width: 800px;
    gap: 20px;
    padding: 3vw;
    background-color: transparent;
}

.social-link svg path,
.social-link svg {
    stroke: darken($green, 10%);
    transition: stroke .3s ease-in-out;
}

.social-link-VK svg {
    fill: darken($green, 10%);
    transition: fill .3s ease-in-out;
}

.social-link:focus-visible {
    outline: 2px dashed darken($green, 10%);
}

.social-link:hover svg path,
.social-link:hover svg {
    stroke: lighten($green, 10%);
}

.social-link-VK:hover svg {
    fill: lighten($green, 10%);
}

.social-link:active svg path,
.social-link:active svg {
    stroke: $purpure;
}

.social-link-VK:active svg {
    fill: $purpure;
}

@media (max-width: 640px) {

    .social-link {
        width: 30px;
        height: 30px;
    }
}